In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()

Saving churn.csv to churn.csv

In [4]:
import io
df = pd.read_csv(io.BytesIO(uploaded['churn.csv']))
df

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95       1889.5     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80       1990.5     No
7039  2234-XADUH  Female              0  ...         103.20       7362.9     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40        306.6    Yes
7042  3186-AJIEK    Male              0  ...         105.65       6844.5     No

[7043 rows x 21 columns]

In [13]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [14]:
X=df[['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges']]
       
y=df[['Churn']]

In [15]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [16]:
count_no,count_yes=df['Churn'].value_counts()

**UNDERSAMPLING**

In [17]:
df_yes=df[df['Churn']=='Yes']
df_no=df[df['Churn']=='No']

In [18]:
df_no_under=df_no.sample(count_yes)
df_test_under=pd.concat([df_no_under,df_yes],axis=0)
print('Random under-sampling:')
df_test_under['Churn'].value_counts()

Random under-sampling:

No     1869
Yes    1869
Name: Churn, dtype: int64

**OVERSAMPLING**

In [19]:
df_yes_over=df_yes.sample(count_no,replace=True)
df_test_under=pd.concat([df_yes_over,df_no],axis=0)
print('Random over-sampling:')
df_test_under['Churn'].value_counts()

Random over-sampling:

No     5174
Yes    5174
Name: Churn, dtype: int64